<nav
  class="flex flex-row md:items-center ms-18 md:ms-22 lg:ms-30 lg:mx-10 lg:p-4 lg:flex-row items-center justify-between p-3 ml-5 w-full bg-orange-50"
>
  <!-- Left Section: Profile Image & Text -->
  <div class="flex flex-col md:flex-row items-center w-full">
    <div class="flex items-center space-x-3 pl-9">
      <img src="assets/images/icon.jpg" class="w-12 h-12 ml-9 rounded-full" />
      <div class="flex flex-col">
        <strong class="text-lg">Note Taking App</strong>
        <p class="text-sm text-gray-600">areebakhalid09877&#64;gmail.com</p>
      </div>
    </div>


<!-- Search Bar -->
<div class="flex items-center  sm:ms-6 ms-5 md:ms-3 w-30 sm:w-[50%] md:w-[30%] relative py-3">
    <i
      class="bi bi-search absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-500"
    ></i>
    <input
      type="text"
      class="w-full rounded-full h-10 py-2 pl-10 pr-4 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-orange-300"
      placeholder="Search anything..."
    />
  </div>

  </div>
  <!-- Icons -->
  <div class="flex items-center space-x-4 mr-7 pr-6 gap-4">
    <i
      class="bi bi-arrow-clockwise text-xl cursor-pointer transition duration-300 hover:text-blue-500 hidden lg:block"
    ></i>
    <i
      class="bi bi-calendar-event text-xl cursor-pointer transition duration-300 hover:text-blue-500 hidden lg:block"
    ></i>
    <div
      class="p-2 bg-white rounded-full shadow-md hover:bg-gray-100 cursor-pointer mt-[45px] md:mt-0 "
    >
      <i class="bi bi-three-dots text-xl"></i>
    </div>
  </div>
</nav>
