<div class="relative">
<div class="fixed top-0 left-0 h-full w-20 bg-white flex flex-col  p-4 items-center py-5">
    <!-- Logo -->
    <div class="mt-1">
        <i class="bi bi-infinity text-orange-400 text-4xl cursor-pointer hover:text-orange-200"></i>
    </div>

    <!-- Menu Items -->
    <div class="flex flex-col flex-1 mt-6 w-full justify-between">
        <div class="flex flex-col space-y-6 items-center">
        <div class="bg-orange-200 p-2 rounded-full">
            <i class="bi bi-shield-lock text-gray-700 text-2xl cursor-pointer"></i>
        </div>
        <i class="bi bi-bell text-gray-700 text-2xl cursor-pointer hover:text-orange-400"></i>
        <i class="bi bi-pencil text-gray-700 text-2xl cursor-pointer hover:text-orange-400"></i>
        <i class="bi bi-bookmark text-gray-700 text-2xl cursor-pointer hover:text-orange-400"></i>
        <i class="bi bi-trash text-gray-700 text-2xl cursor-pointer hover:text-orange-400"></i>
        </div>
   

    <!-- Bottom Icons -->
    <div class="mt-auto flex flex-col space-y-6 items-center">
        <i class="bi bi-gear text-gray-700 text-2xl cursor-pointer hover:text-orange-400"></i>
        <i class="bi bi-box-arrow-right text-gray-700 text-2xl cursor-pointer hover:text-orange-400"></i>
    </div>
</div>
</div>
